.jumbotron{
	padding: 10px;
	margin: 0;
}

.jumbotron .container{
	width: 97.5%;
}

.module-selection label{
	min-height: initial !important;
	padding-left: initial !important;
}

.module-selection label{
	display: block;
}

.panel-group{
	margin-bottom: 0;
	/*box-shadow: 3px 3px 5px #AAAAAA;*/
}

.panel-heading-group{
	padding-left: 15px;
}

.form-inline{
	text-align: center;
	margin-bottom: 20px;
}

.form-group{
	width: 49%;
}

#slider{
	margin-bottom: 60px;
	margin-top: 15px;
}

.panel-footer{
	padding: 0;
}

.panel-footer #collapse-children{
	/*background-color: #3FB8AF;*/
	background-image: linear-gradient(to bottom,#3FB8AF 0,#2E8F87 100%);
	border: none;
}

.noUi-pips-horizontal{
	height: initial;
}

.module-selection, .minmaxPanel, .option-selection{
	box-shadow: 3px 3px 5px #AAAAAA;
}

.module-selection .col-md-3 .panel-body{
	min-height: 250px;
}

.option-selection label{
	margin-right: 15px;
}

/*.option-selection #optionSelectionSubPart{
	text-align: center;
}*/

#plotImages{
	margin-top: 10px;
/*	transition: box-shadow 2s;
	-webkit-transition: all 2s;
	-moz-transition: box-shadow 2s;
	-o-transition: box-shadow 2s;*/

	background-size: contain;
    background-repeat: no-repeat;
    background-position-x: 90%;

}

#plotImages:hover{
	box-shadow: 3px 3px 5px #CE4C11;
	/*width: 50%;*/
}

#plotContainer{
	width: 90%;
	margin-left: auto;
	margin-right:auto;
	text-align: center;
	border-style: hidden;

	margin-bottom: 40px;
}

hr{
	margin-bottom: 5px;
	margin-top: 5px;
}

.toggle-group label{
	margin-right: unset;
}

#runRangePicker{
	min-height: 90px;
	display: initial;
}

#runRangePicker input{
	max-width: 90%;
	text-align: center;
}

#datePicker{
	display: none;
	padding-top: 10px;
	padding-bottom: 50px;
}

#runPicker{
	margin-top: 10px;
	height: 120px;
}

#expertModeSwitchContainer{
	display: inline-block;
	width: 80%;
	text-align: right;
	position: absolute;
	margin-right: 20px;
}

#userDataPickingPanelBody
{
	display: initial;
}

#expertDataPickingPanelBody
{
	display: none;
	height: 160px;
}

#expertQuery{
	min-height: 75px;
	max-height: 75px;
	max-width: 100%;
	min-width: 100%;
}

#expertHelpSection{
	padding-top: 10px;
}

#plotControlPanel{
	width: 90%;
	text-align: right;
	padding-right: 15px;
	padding-left: 15px;
	margin: 10px auto;

	display: none;

}

#plotControlPanel label.checkbox-inline{
	margin-left: 0;
}

#plotControlPanel label.checkbox-inline .toggle{
	margin-right: 0;
}

#stripTab div[class^="col-md-"],
#spixelTab div[class^="col-md-"]{
	padding-right: 8px;
	padding-left: 8px;
}

.panel-footer{
	-webkit-box-shadow: inset 2px 60px 100px -40px rgba(0,0,0,0.1);
	-moz-box-shadow: inset 2px 60px 100px -40px rgba(0,0,0,0.1);
	box-shadow: inset 2px 60px 100px -40px rgba(0,0,0,0.1);
}

.panel-footer label{
	margin: 8px 15px;
}

.panel-footer label > input{
	margin: 0 8px;
}

.panel .panel-body div[id$='OptionSelection'] input{
	margin: 0 7px;
}

/*
	MINMAX SELECTION
*/

#minmax-selection label{
	margin-right: unset;
}

#minmax-selection .row > .col-md-12{
	font-size: 24px;
	border-top: 2px solid #2e6da4;
	border-bottom: 2px solid #2e6da4;
	text-align: center;
}

#minmax-selection .row > .col-md-8{
	font-weight: bold;
	text-align: right;
}

#minmax-selection .row > .col-md-2{
	font-weight: bold;
	text-align: center;
}

#minmax-selection #minmax-selection-filterArea input{
	width: 100%;
	text-align: center;
}

/*
	TOOLTIP LOOK
*/

.tooltip > .tooltip-inner{
/*	background-color: #73AD21;
    color: #FFFFFF;
    border: 1px solid green;*/
/*    padding: 7px, 15px;
    font-size: 14px;
    min-width: 300px;*/
}

/*
	SETUP INFO
*/
.setup-info{
	padding: 3px;
	margin-bottom: 10px;

	text-align: center;
	font-size: 20px;
	font-weight: 700;
	color: #888;
}